<div id="nav" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img
        src="<%= asset_path 'images/masthead.png'%>" alt="SDFormat"/></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class='<%= @item.path =~ /^\/spec/ ? "active" : "" %>'><a href="/spec">Specification</a></li>
        <li class='<%= @item.path =~ /^\/api/ ? "active" : "" %>'><a href="/api">API</a></li>
        <li class='<%= @item.path =~ /^\/tutorials/ ? "active" : "" %>'><a href="/tutorials">Documentation</a></li>
        <li class='<%= @item.path =~ /^\/download/ ? "active" : "" %>'><a href='/download'>Download</a></li>
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</div>

