<!DOCTYPE html>
<html>
<%= render '/_head.*' %>
<body>

<a id="top"></a>

<div class="wrap">
<%= render '/_top_nav.*' %>

<div class="container-fluid">

  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

  <div class="row">
    <div class="col-md-4 well">
      <div class="row">
        <div class="col-xs-12">
          <h5 class="pull-left">Versions</h5>
          <form class="form-inline" role="form">
            <select class="form-control pull-right" id="version"
              onchange='if (this.value) window.location.href="/spec/" + this.value'>
              <% knownVersions.each do |knownVersion|%>
                <option <%= @item[:version] == knownVersion ? 'selected' : ''%> value="<%= knownVersion %>">SDFormat Version <%= knownVersion %></option>
              <% end %>
            </select>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          </br>
          <p>
          The SDFormat version shown in the dropdown above defines the specification version. This version number may be different from the release version of libsdformat, which contains the C++ library used to parse SDFormat files. See <a href="/tutorials/developers/roadmap">http://sdformat.org/tutorials/developers/roadmap</a> to find out which specification version goes with which libsdformat version.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-7 col-md-offset-1 well">
      <h5>Tree Key</h5>
      <p>
       <span class='tree-collapse glyphicon glyphicon-stop' style="color: #90c2e8"></span> : An SDFormat element. Click the box to get a link.</br>
       <span class='tree-collapse glyphicon glyphicon-stop' style="color: #96e890"></span> : An SDFormat attribute. Click on the box to get a link.</br>

        <span class='tree-collapse glyphicon glyphicon-plus'></span> : An element with children. Click the icon to toggle the children.<br/>
        <span class='tree-collapse glyphicon glyphicon-minus'></span> : The element has no children.<br/>
        <span class='tree-collapse glyphicon glyphicon-chevron-right'></span> : An element defined in another tab. Click icon to open the tab.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs" role="tablist" id="tabs">
        <% tabs.each do |tab|%>
          <li>
            <li class="<%= @item[:tab] == tab ? 'active' : ''%>">
            <%= link_to(tab.capitalize, "/spec/#{@item[:version]}/#{tab}") %>
          </li>
        <%end%>
      </ul>
    </div> <!-- col-xs-12 -->
  </div> <!-- row -->

  <br/>

  <div class="row">

    <div class="col-xs-8 spec-details">
      <div class="tab-content">
        <div class="tab-pane active">
          <div class="tree well">
            <ul><%= yield %></ul>
          </div>
        </div>
      </div>
    </div> <!-- col-xs-6 -->

    <div class="col-xs-4 well spec-example hidden-xs hidden-sm">
      <h5>Example</h5>
      <pre><code><%= @item[:example] %> </code></pre>
    </div>

  </div> <!-- row -->
</div>

<script>
$(function () {
    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
    $('.tree li.parent_li > span').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
          children.hide('fast');
          $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
        } else {
          children.show('fast');
          $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
        }
        e.stopPropagation();
      });
    });
</script>
</div>

<%= render '/_footer.*' %>
</body>
</html>
