<div class="container-fluid">
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/anchor-js@4.2.0/anchor.min.js"></script>
  <div class="row">
    <div class="col-xs-4 text-left">
      <a href='<%= "/tutorials/#{@item[:cat]}" %>'><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12 col-sm-12 hidden-xs">
      <form class="form-inline" role="form">
        <div class="form-group col-xs-12">
          <a href=<%= @item[:editFile] %> role="button"
            class="form-control btn btn-primary pull-right"
            style="width: 60px; margin-left: 10px">Edit</a>
          <select class="form-control pull-right"
            style="width: 140px" id="ver"
            onchange='if (this.value) window.location.href=this.value'>
            <% @item[:versions].each do |version_hash| %>
              <%
                option_item=@items["/tutorials/#{@item[:ref]}/#{version_hash[:safe_version]}.*"]
                option_item_href=relative_path_to(option_item)
              %>
              <% if version_hash[:version] == @item[:ver] %>
                <option selected value='<%=option_item_href%>'>Version: <%= version_hash[:version] %></option>
              <% else %>
                <option value='<%=option_item_href%>'>Version: <%= version_hash[:version] %></option>
              <%end%>
            <%end%>
          </select>
        </div>
      </form>
    </div>
  </div>

  <hr style="margin-top: 8px"/>

  <div class="row">
    <div class="col-md-3 max-width-400">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Table of Contents</a></h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <div id="toc">
                <%= markdown_toc.render(@item.compiled_content) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div id="content" class="col-md-9">
      <%= markdown.render(@item.compiled_content) %>
    </div>
  </div> 

</div>

</div>
<script>
  anchors.options = {
    placement: 'right',
    visible: 'hover',
    truncate: 256,
  };
  anchors.add('#content h1, #content h2, #content h3, #content h4');
</script>
